.mainAcc {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 5;
}
.loginLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.loginLink:hover {
    color: #00A2FF;
}
.userMenuVisible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .userMenuHidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.userMenuIndicator {
    border: 2px solid #E8EBEC;
    background-color: white;
    font-size: 0.9em;
    display: flex;
    height: 35px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    cursor: pointer;
}
.userMenuIndicator:hover {
    border: 2px solid #C1C7C6;
}

.userMenuIndicator p {
    margin-top: 12px;
}
@media (max-width: 768px) {
    .mainAcc {
        top: 180px;
    }
    .userMenuIndicator {
        background-color: #FAFAFA;
    }
    .loginDivText {
        padding: 5px;
        border-radius: 16px;
        background-color: #FAFAFA;
        height: 40px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }   
    .loginDivText p {
        margin-top: 2px;
    }
}