.exercisePage {
    width: 85vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .exercisePage {
        width: 90vw;
        overflow-x: hidden;
    }
}