.exercise {
    width: 80vw;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .exercise {
        width: 95vw;
        overflow-x: hidden;
    }
}

@media (max-width: 950px) {
    .exercise {
        width: 95vw;
        overflow-x: hidden;
    }
}