.recoverPasswordModalButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit; /* Herda a cor do texto do elemento pai */
    font: inherit; /* Herda a fonte do elemento pai */
    cursor: pointer; /* Muda o cursor para indicar um elemento clicável */
}

.recoverPasswordModalButton:hover {
    background-color: #FAFAFA;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
}
.recoverPasswordModalButton:active {
    background-color: #FAFAFA;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
}
.recoverPasswordModalButton:focus {
    background-color: #FAFAFA;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
}
.recoverPasswordModalButton:focus {
    background-color: #FAFAFA;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
}
.recoverPasswordModalButton p:hover {
    color: black;
}
.clientFeedback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}