.homePageMainDiv {
    width: 85vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageContainer {
    position: relative;
    width: 85vw; 
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.homePageTitleDiv {
    width: 45%;
    margin-right: 450px;
    z-index: 5; 
    position: absolute;
}
.homePageMainDiv h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 24px;
}
.homePageMainDiv h2 {
    color: #535353;
}
.getStarted {
    background-color: #00A2FF;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.getStarted:hover {
    background-color: #008ACD;
    transform: scale(1.05);
}

.getStarted:active {
    transform: scale(0.95);
}
.linkStyle {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .homePageMainDiv {
        width: 100vw;
        height: 80%;
        margin-right: 0;
        flex-direction: column;
    }
    .homePageTitleDiv {
        width: 80%;
        margin: 0;
        padding: 20px 0;
        z-index: 2;
        position: absolute;
        margin-bottom: 250px;
    }
    .homePageMainDiv h1, .homePageMainDiv h2 {
        font-size: 1.5em; 
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px) {
    .homePageMainDiv {
        width: 100vw;
        height: 80%;
        margin-right: 0;
        flex-direction: column;
    }
    .homePageTitleDiv {
        width: 60%;
        margin: 0;
        padding: 20px 0;
        z-index: 2;
        position: absolute;
    }
    .homePageMainDiv h1, .homePageMainDiv h2 {
        font-size: 1.5em; 
        margin-bottom: 20px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
    .homePageMainDiv {
        width: 85vw;
        overflow: hidden;
    }
    .homePageMainDiv h1, .homePageMainDiv h2 {
        font-size: 0.8em; 
        margin-bottom: 20px;
    }
    .homePageTitleDiv {
        margin-right: 0px;
        margin-bottom: 20px;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 1366px) {
    .homePageMainDiv {
        width: 85vw;
        overflow: hidden;
    }
    .homePageMainDiv h1, .homePageMainDiv h2 {
        font-size: 1.5em; 
        margin-bottom: 20px;
    }
    .homePageTitleDiv {
        margin-right: 0px;
        margin-bottom: 20px;
    }
  }
