.mainContainer {
    display: flex;
    flex-direction: row;
    width: 95vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media (max-width: 768px) {
    .mainContainer {
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 1366px) {
    .mainContainer {
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 915px) {
    .mainContainer {
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
