.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100vw;
}
@media (max-width: 768px) {
    .mainContainer {
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 915px) {
    .mainContainer {
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
}