.loginMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 85vw;
}
.inputsCard {
    width: 700px;
    height: 400px;
    background-color: #FAFAFA;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.inputs {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.username {
    width: 400px;
    height: 50px;
    border: none;
    padding: 8px;
    border-radius: 8px;
}
.username:focus {
    outline: 2px solid #00A2FF;
}
.password {
    width: 400px;
    height: 50px;
    border: none;
    padding: 8px;
    border-radius: 8px;
}
.password:focus {
    outline: 2px solid #00A2FF;
}
.inputs button {
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    background-color: #00A2FF;
    color: white;
    border-radius: 8px;
    margin-top: 8px;
}
.inputs button:hover {
    background-color: #038ad8;
}
.inputsCard p {
    color: gray
}
.signUpLink {
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.resendEmailLink {
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: gray;
    font-weight: 400;
}
.signUpLink:hover {
    color: #038ad8;
}

.loadingWrapper {
    position: relative;
    height: 10px; 
    width: 130px;
    bottom: 50px;
}

.loadingImage {
    margin-top: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forgetPassword {
    margin-top: 4px;
}
.errorFeedbackDiv {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .loginMain {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 85vw;
    }
    .inputsCard {
        width: 85vw;
        height: 400px;
        background-color: #fafafa;
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding: 10px;
        flex-direction: column;
    }
    .inputs {
        height: 100%;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }
    .username {
        width: 80vw;
        height: 50px;
        border: none;
        padding: 8px;
        border-radius: 8px;
    }
    .password {
        width: 80vw;
        height: 50px;
        border: none;
        padding: 8px;
        border-radius: 8px;
    }
}