.piano {
    height: 230px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #001019;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
    z-index: 3;
}
.octaves {
    display: flex;
    height: 200px;
    justify-content: center;
}
.octave {
    display: flex;
}

.white {
    position: relative;
    height: 200px;
    width: 50px;
    border: 1px solid rgb(95, 95, 95);
    background-color: white;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.white:hover {
    background-color: rgb(226, 226, 226);
}
.black {
    position: absolute;
    height: 120px;
    width: 20px;
    background-color: black;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fdfcfc;
    cursor: pointer;
}
.black:hover {
    background-color: rgb(29, 28, 28);
}
.Db3 {
    margin-left: 40px;
}
.Eb3 {
    margin-left: 90px
}
.Gb3 {
    margin-left: 190px;
}
.Ab3 {
    margin-left: 240px;
}
.Bb3 {
    margin-left: 290px;
}

.Db4 {
    margin-left: 40px;
}
.Eb4 {
    margin-left: 90px
}
.Gb4 {
    margin-left: 190px;
}
.Ab4 {
    margin-left: 240px;
}
.Bb4 {
    margin-left: 290px;
}

.Db5 {
    margin-left: 40px;
}
.Eb5 {
    margin-left: 90px
}
.Gb5 {
    margin-left: 190px;
}
.Ab5 {
    margin-left: 240px;
}
.Bb5 {
    margin-left: 290px;
}

.Db6 {
    margin-left: 40px;
}
.Eb6 {
    margin-left: 90px
}
.Gb6 {
    margin-left: 190px;
}
.Ab6 {
    margin-left: 240px;
}
.Bb6 {
    margin-left: 290px;
}

 .white:active {
    background-image: linear-gradient(#fdfcfc, rgb(190, 186, 186));
    height: 210px;
}

.black:active {
    background-image: linear-gradient(#4b4a4a, black);
    height: 130px;
}
.feeedbackNote {
    background-color: green;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.feeedbackNote p {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .piano {
        height: 180px;
    }
    .octaves {
        height: 160px;
    }
    .white {
        height: 160px;
    }
    .black {
        height: 100px;
    }
}