.responseContainer {
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.responseContainer ul {
    margin-bottom: 0;
    padding-top: 20px;
}

.responseContainer li {
   height: 30px;
   line-height: 30px;
   list-style-type: none;
   font-weight: 500;
   width: 100%;
}

.error {
    font-weight: 500;
    color: red;
}
.success {
    font-weight: 500;
    color: green;
}
.errorDiv {
    background-color: #FADADD;
}

.successDiv {
    background-color: #dafade;
}
.loadingWrapper {
    position: relative;
    height: 10px; 
    width: 130px;
}

.loadingImage {
    margin-top: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}