.modal {
    height: 400px;
    width: 250px;
}
.modal_body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.link {
    text-decoration: none;
    color: inherit;
}
.link:hover {
    color: gray;
}
.logout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout p:hover {
    color: gray;
    cursor: pointer;
}